<ion-app>
  <ion-header translucent>
    <ion-toolbar>
      <ion-title>User List</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content fullscreen>
    <ion-list *ngIf="!!userList">

      <ion-item *ngFor="let user of userList?.data">
        <ion-avatar slot="start">
          <img src="{{user.avatar}}"/>
        </ion-avatar>
        <ion-label>
          <h2>{{user.first_name}} {{user.first_name}}</h2>
          <h3>{{user.email}}</h3>
          <p>Listen, I've had a pretty messed up day...</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-app>
