<ion-header class="ion-no-border">
    <ion-toolbar>
        <!-- <ion-title>signup</ion-title> -->
        <ion-buttons slot="start">
            <ion-back-button defaulthref="/" text=""> </ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="bg-color">
    <ion-card class="ion-no-margin">
        <ion-card-header>
            <ion-card-title> Forgot Passport </ion-card-title>
            <ion-card-subtitle>
                Enter your Email here to Reset your passport
            </ion-card-subtitle>
        </ion-card-header>
        <form [formGroup]="ValidationFormPassport" (ngSubmit)="forgotPassportForm(ValidationFormPassport.value)">
            <ion-card-content>
                <ion-item>
                    <ion-input name="email" type="text" placeholder="Email" formControlName="email">
                        <ion-icon name="mail-outline"></ion-icon>
                    </ion-input>
                </ion-item>
                <ng-container *ngFor="let validation of validationMessages?.email">
                    <div class="error_message" *ngIf="
              ValidationFormPassport.get('email').hasError(validation.type) &&
              (ValidationFormPassport.get('email').dirty ||
                ValidationFormPassport.get('email').touched)
            ">
                        {{ validation.message }}
                    </div>
                </ng-container>

                <div class="sign-btn-wrap">
                    <ion-button shape="round" type="submit" fill="solid" class="sign-btn" [disabled]="!ValidationFormPassport.valid">Send</ion-button>
                </div>
            </ion-card-content>
        </form>
    </ion-card>
</ion-content>